body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 5px;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  width: 250px;
}

/* ul[id="todo-list"]{
  padding: 8px;
  align-items: right;

} */

button {
  padding: 8px 12px;
  margin-right: 10px;
}

 ul {
  list-style-type: none;
  padding: 0;
} 

li {
  margin-bottom: 25px;
  /* margin-right: 100px; */
  align-items: right;

}

.completed {
  text-decoration: line-through;
}